@model List<laboratorio3.Models.SongModel>;
@{
    ViewData["Title"] = "Songs";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Songs</th>
                <th>Genre</th>
                <th>Group</th>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name  </td>
                    <td>@item.Genre</td>
                    <td>@item.Group</td>
                    
                </tr>

            }

           
                      
        </tbody>
    </table>
</div>
<div>
    
</div>