@model List<laboratorio5.Models.PeliculaModelo>;
@{
    ViewData["Title"] = "Peliculas";
}

<h1>@ViewBag.MainTitle</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Titulo de la pelicula</th>
                <th>Año de salida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pelicula in Model)
            {
                <tr>
                    <td>@pelicula.Nombre</td>
                    <td>@pelicula.Año</td>
                </tr>
            }
        </tbody>
    </table>
</div>
